<section>
  <h1>All Tasks</h1>
  <%= link_to "New Task", new_task_path %>
</section>

<section>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
</section>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>ETA</th>
      <th>Assigned</th>
      <th>Robot Type</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= link_to task.description, edit_task_path(task) %>
        </td>
        <td><%= task.eta %></td>

        <td>
          <% if task.robot %>
            <%= task.robot.name %>
          <% else %>
            None Assigned
          <% end %>
        </td>

        <td>
          <% if task.robot_type %>
            <%= task.robot_type.name %>
          <% else %>
            None Specified
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
