<section>
  <h1>All Tasks</h1>
  <%= link_to "New Task", new_task_path %>
</section>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>ETA</th>
      <th>Assigned</th>
      <th>Robot Type</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.eta %></td>
        <td><%= task.completed ? "Yes" : "No" %></td>
        <td>
          <% if task.robot_type %>
            <%= task.robot_type.name %>
          <% else %>
            None Specified
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
