<section>
  <h1>Create Task</h1>
</section>

<%= form_with(model: @task) do |form| %>
  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.label :eta %>
  <%= form.number_field :eta, step: 1, min: 1 %>

  <%= form.label :robot_type_id, "Robot Type" %>
  <%= form.collection_select :robot_type_id,
                         RobotType.all,
                         :id,
                         :name,
                         { include_blank: true } %>

  <%= form.submit "Create Task" %>
<% end %>
