<section>
  <h1>Edit Robot</h1>
</section>

<%= form_with(model: @robot, url: robot_path(@robot), method: :patch) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :robot_type_id, "Robot Type" %>
  <%= form.collection_select :robot_type_id, RobotType.all, :id, :name %>

  <%= form.submit "Update Robot" %>
<% end %>

<%= button_to "Delete Robot",
@robot,
method: :delete,
data: {
  confirm: "Are you sure you want to delete this robot?"
},
class: "secondary" %>
